<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <title>Travel App</title>
    </head>
    <body>
        <section id="traveling">
          <h1 class="WhyTravel">Why we need to travel?</h1>
          <p>The journey can be long or short, but it's not important! The important is to live fully every second, every situation, live the emotions every single moment!<br> We have to travel because we need to be happy, live with carefreeness and above all we need to know the world, the traditions of a population, the places, and this, in order not to remain ignorant.<br><strong>Traveling opens the mind!!</strong></p>
        </section>
        <br>
        <hr>
        <div class="card">
            <section id="MyJourney">
                <div class="the_trip">
                    <form class="form_content" id="form" onsubmit="return Client.handleSubmit(event)">
                        <img src="https://pixabay.com/it/photos/londra-heathrow-aviazione-aeroporto-726443/" alt="London Heathrow">
                        <h2 class="form-text">Plan your trip!</h2>
                        <input type="text" id="input_from" name="from" placeholder="Departing" autocomplete="off" required>
                        <input type="text" id="input_to" name="to" placeholder="Arriving" autocomplete="off" required>
                        <input type="date" id="input_date" name="date" required>
                        <button type="submit" class="button_submit" name="submit" value="Submit">Search</button>
                    </form>
                </div>
            </section>
        </div>
        <!-- <div class="planTheTrip">
            <div class="plan_trip">
                <div class="from"><label for="firstCity">From:</label></div>
                <div class="from1"><input type="text" id="firstCity" placeholder="Departure"></div>
            </div>
            <br>
            <div class="plan_trip">
                <div class="to"><label for="secondCity">To:</label></div>
                <div class="to1"><input type="text" id="secondCity" placeholder="Destination"/></div>
            </div>
            <br>
            <div class="plan_trip"  >
                <div class="dep"><label for="date1">Departing:</label></div>
                <div class="dep1"><input type="text" id="date1" placeholder="DD/MM/YYYY" onfocus="(this.type='date')" onblur="(this.type='text')" /></div>
            </div>
            <br>
            <div class="plan_trip">
                <div class="arr"><label for="date2">Arriving:</label></div>
                <div class="arr1"><input type="text" id="date2" placeholder="DD/MM/YYYY" onfocus="(this.type='date')" onblur="(this.type='text')" /></div>
            </div>
            <br>
            <input type="submit" id="theSubmit" class="the_submit" name="submit" value="Submit">
            <button class="search_trip" id="the_search" href="#">Search</button>
        </div>-->
        <br>
        <hr>
        <section id="results" class="result_invisible">
            <div class="the_results">
                <div class="MyResults">
                    <h2 class="city-text-result">Destination: <span class="city"></span></h2>
                    <h2 class="date-text-result">Departing: <span class="date"></span></h2>
                    <h2 class="days-text-result">Trip starts in: <span class="days"></span></h2>
                    <h2 class="weather-text-result">Weather will be: <span class="weather"></span></h2>
                    <button class="button-print" id="print" href="#">Print booking</button>
                    <button class="button-delete" id="delete" href="#">Delete booking</button>
                </div>
            </div>
        </section>
        <br>
        <br>
        <br>
        <br>
        <footer>
            <button class="btn">TOP</button>
            <div class="name">
                <h5>Made by Andrea Scacchi</h5>
            </div>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
