<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <title>Travel App</title>
    </head>
    <body>
        <section id="traveling">
          <h1 class="WhyTravel">Why we need to travel?</h1>
          <p>The journey can be long or short, but it's not important! The important is to live fully every second, every situation, live the emotions every single moment!<br> We have to travel because we need to be happy, live with carefreeness and above all we need to know the world, the traditions of a population, the places, and this, in order not to remain ignorant.<br><strong>Traveling opens the mind!!</strong></p>
        </section>
        <br>
        <hr>
        <section id="MyJourney">
            <div class="the_trip">
                <form class="form_content" onsubmit="return Client.handleSubmit(event)">
                  <h2 class="form-text">Plan your trip!</h2>
                </form>
            </div>
        </section>
        <div class="planTheTrip">
            <div class="plan_trip">
                <div class="from"><label for="firstCity">From:</label></div>
                <div class="from1"><input type="text" id="firstCity" placeholder="Departure"></div>
            </div>
            <br>
            <div class="plan_trip">
                <div class="to"><label for="secondCity">To:</label></div>
                <div class="to1"><input type="text" id="secondCity" placeholder="Destination"/></div>
            </div>
            <br>
            <div class="plan_trip">
                <div class="dep"><label for="date1">Departing:</label></div>
                <div class="dep1"><input type="text" id="date1" placeholder="DD/MM/YYYY" onfocus="(this.type='date')" onblur="(this.type='text')" /></div>
            </div>
            <br>
            <div class="plan_trip">
                <div class="arr"><label for="date2">Arriving:</label></div>
                <div class="arr1"><input type="text" id="date2" placeholder="DD/MM/YYYY" onfocus="(this.type='date')" onblur="(this.type='text')" /></div>
            </div>
            <br>
            <input type="submit" id="theSubmit" class="the_submit" name="submit" value="Submit">
            <!-- <button class="search_trip" id="the_search" href="#">Search</button>-->
        </div>
        <br>
        <hr>
        <section id="results">
            <div class="the_results">
                <div class="MyResults">
                  <h2 class="departing-text-result">From: <span class="departing"></span></h2>
                  <h2 class="arriving-text-result">To: <span class="arriving"></span></h2>
                  <h2 class="datee1-text-result">Departing date: <span class="first_date"></span></h2>
                  <h2 class="datee2-text-result">Arriving date: <span class="second_date"></span></h2>
                  <h2 class="days-text-result">Trip starts in: <span class="days"></span></h2>
                  <h2 class="weather-text-result">Weather will be: <span class="weather"></span></h2>
                  <button id="generate" class="button-print" id="print" href="#">Print booking</button>
                  <button id="delete" class="button-change" id="change" href="#">Change booking</button>
                </div>
            </div>
        </section>
        <br>
        <br>
        <br>
        <br>
        <footer>
            <button class="btn">TOP</button>
            <div class="name">
                <h5>Made by Andrea Scacchi</h5>
            </div>
        </footer>
    </body>
</html>
